{% extends 'partial/base.html' %}
{% block title %}Add Purchase Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

  <!-- Add Purchase Form -->
  <div class="mx-auto" style="width:60%; padding: center;">
    <div class="row my-4">
        <div class="col-md-12">
          <!-- Display success or error messages -->
          {% for message in messages %}
            {% if message %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endif %}
          {% endfor %}
          
          <!-- Purchase Form -->
          <div class="border bg-white p-3">
            <center><h4>Add New Purchase</h4></center>
            <hr>
            <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <input class="btn btn-success btn-block" type="submit" value="Add Purchase">
            </form>
          </div>
        </div>
    </div>
  </div>

{% endblock %}
